@font-face {
  font-family: Baskerville;
  src: url(Font/static/Baskervville-Regular.ttf);
}

@font-face {
  font-family: Rouge Script;
  src: url(Font/RougeScript-Regular.ttf);
}

.baskerville {
  font-family: "Baskerville", serif;
  font-size: 15px;
}

.baskerville2 {
  font-family: "Baskerville", serif;
  font-size: 100px;
  color: #aa1919;
}

.rougescript {
  font-family: "Rouge Script", cursive;
  font-size: 53px;
}

* {
  margin: 0rem;
  padding: 0.2rem;
}

h1,
h2,
h3 {
  padding: 0.5rem;
  text-align: center;
}

.KØB {
  padding: 2rem;
  margin: 5rem;
  background-size: 5rem;
  text-align: center;
  height: 8rem;
  width: 20rem;
  font-size: 15px;
  background-color: #8bc4f7;
  border-color: #9bc5ea;
}

.center {
  text-align: center;
}

.index {
  color: #8bc4f7;
}

.mincomputer {
  color: #82f78c;
}

.operativsystemer {
  color: #f49957;
}

.komponenter {
  color: #f3db22;
}

.komponenter2 {
  color: #f7e66c;
}

.galleri {
  color: #f653ad;
  font-family: "Rouge Script", cursive;
  font-size: 53px;
}

.galleri2 {
  color: #f67abe;
  font-family: "Rouge Script", cursive;
  font-size: 53px;
}
